doctype html
html(lang="en")
	head
		title NCTV OpenVPN Reset
		style(type="text/css").
			.button {
				background-color: #1c87c9;
				color: #eeeeee;
				cursor: pointer;
				display: inline-block;
				font-weight: bold;
			}
			@keyframes glowing {
				0% {
					background-color: #2ba805;
				}
				50% {
					background-color: #49e819;
				}
				100% {
					background-color: #2ba805;
				}
			}
			.button {
				animation: glowing 1300ms infinite;
			}
	body
		h1 NCTV OpenVPN Reset
		p Adding YouTube or Drive links not working? Getting random weird errors? Just hit the button below to fix it! Maybe! Lol!</p>
		p Obviously don't be a jerk and mash it multiple times. Press once, if it doesn't work after about 30 seconds then there's nothing left to do but pester Chokes.</p>
		form(action="/super/secret/reset" method="POST" style="margin-top: 1em; margin-bottom: 1em;")
			input(type="hidden" name="_csrf" value=csrfToken)
			button(type="submit" style="margin-right: 2em;") Fix Everything Ever
			button.button(id="boom" type="button") Blow Up the Server
		if error
			h3 Error: #{error}
		else if error == ''
			h3 Success.
		script(type="text/javascript").
			document.getElementById('boom').addEventListener('click', function() {
				window.alert('Wow. Really? Didn\'t even hesitate, did you?');
			});
